@font-face {
    font-family: 'Corinthia-Bold';
    src: url('/font/Corinthia/Corinthia-Bold.woff2') format('woff2');
    src: url('/font/Corinthia/Corinthia-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Corinthia-Regular';
    src: url('/font/Corinthia/Corinthia-Regular.woff2') format('woff2');
    src: url('/font/Corinthia/Corinthia-Regular.woff') format('woff');
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1250px !important;
    }
}

.content-head{
    background: url("/img/bg.png") no-repeat;
    min-height: 95vh;
    background-size: cover;
    background-position: center;
}
.bg-dark {
    background-color: #2125296b!important;
    padding: 0px !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.content-title{
    margin: 0 auto;
    padding-top: 165px;
}
h1{
    color: white;
    text-align: center;
    font-size: 70px;
    line-height: 95px;
    font-weight: bold;
    text-shadow: 5px 4px #b26700;
    font-family: 'League Spartan', sans-serif;

}
.video {
    position: relative;
    cursor: pointer;
    height: 600px;
    width: 90%;
    margin: -100px auto 100px;
    border-radius: 20px;
}
.video__placeholder,.video__placeholder2, .video__placeholder3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video__button,.video__button2, .video__button3 {
    width: 100px;
    height: 100px;
    position: absolute;
    display: block;
    border: none;
    background: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.video__button img,.video__button2 img ,.video__button3 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.video__button:before,.video__button2:before, .video__button3:before, .video__button:after,.video__button2:after, .video__button3:after {
    content: "";
    position: absolute;
    display: block;
    width: 35px;
    height: 3px;
    top: 50%;
    left: 35%;
}
.video__button:before,.video__button2:before, .video__button3:before {
    content: "";
}
.video__button:after,.video__button2:after ,.video__button3:after {
    content: "";
}
.video__button.is-playing,.video__button2.is-playing, .video__button3.is-playing {
    top: -60%;
    right: -9%;
    left: auto;
    transform: none;
    background: #2e1d12;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    opacity: 0.7;
}
#first-block-video .trait-element, #second-block-video .trait-element{
    display: block;
}
#first-block-video .go .trait-element{
    display: none;
}
#second-block-video .go .trait-element{
    display: none;
}
.video__button.is-playing:before, .video__button.is-playing2:before, .video__button.is-playing3:before, .video__button.is-playing:after,.video__button2.is-playing:after, .video__button3.is-playing:after {
    left: -1%;
    border: 1px solid white;
}
.video__button.is-playing:before, .video__button2.is-playing:before,  .video__button3.is-playing:before {
    transform: translateY(0) rotate(45deg);
}
.video__button.is-playing:after, .video__button2.is-playing:after,  .video__button3.is-playing:after {
    transform: translateY(0) rotate(-45deg);
}
#video-player, #video-player2 ,#video-player3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.is-playing img{
    display: none;
}
.go{
    height: 0;
    padding-bottom: 51%;
    border-radius: unset;
}
nav img{
    height: 80px;
}
nav ul li a{
    font-weight: 700;
    margin-right: 25px;
}
.btn-link {
    background: #F8C00D;
    padding: 16px 40px 16px;
    border-radius: 30px;
    width: fit-content;
    font-size: 17px;
    margin-left: auto;
    text-shadow: 3px -2px #b26700;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: white !important;
    min-width: 210px;
    text-align: center;
    box-shadow: 4px 5px 0px #A36108;
}
.block-Apropos{
    width: 96%;
    margin: 0 auto 100px;
    display: flex;
}
.block-Apropos .imgBlockPropos{
    width: 40%;
    margin: 0 20px auto;
    display: flex;
    position: relative;
}
.block-Apropos .secondBlock{
    width: 58%;
    margin: 0 20px auto;
}
.block-Apropos .imgBlockPropos img{
    width: 100%;
}
.block-Apropos .imgBlockPropos .text-exp{
    position: absolute;
    bottom: 23px;
    left: 26px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
}
.block-Apropos .imgBlockPropos .text-exp strong{
    font-size: 31px;
    font-family: 'League Spartan', sans-serif;
}
.secondBlock .title-APropos {
    color: #0000005C;
    font-size: 89px;
    font-family: 'Corinthia-Regular';
    line-height: 48px;
    margin-bottom: 33px;
}
.secondBlock .description{
    font-size: 21px;
    color: #000000;
    font-family: 'Quintessential', sans-serif;
    margin-bottom: 30px;
}
.btnMember{
    background: #F8C00D;
    padding: 20px 40px 20px;
    font-size: 17px;
    margin-left: 11px;
    box-shadow: 4px 5px 0px #A36108;
    border-radius: 40px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-shadow: 3px -2px #000000;
}
.btnMember {
    background: #F8C00D;
    padding: 20px 40px 20px;
    font-size: 17px;
    margin-left: 11px;
    box-shadow: 4px 5px 0px #A36108;
    border-radius: 40px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
.sub-title{
    font-size: 31px;
    font-family: 'Quintessential', sans-serif;
    color: white;
    text-align: center;
}
.block-Nous-disposons{
    background: #000e30;
    padding: 80px 50px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 100px;
}
.block-Nous-disposons h2{
    color: #FFFFFF94;
    font-family: 'Corinthia-Regular';
    margin-bottom: 15px;
    font-size: 95px;
    line-height: 44px;
}
.block-Nous-disposons .descriptionN{
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 17px;
    font-weight: bold;
    max-width: 442px;
    margin: 27px auto 40px;
}
.nous-disposons-group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nous-disposons-group .nous-disposons-element{
    width: 33%;
    margin-bottom: 50px;
}
.nous-disposons-group .nous-disposons-element .imgnous-disposons-element{
    width: 70px;
    height: 70px;
    margin: 0 auto 15px;
}
.nous-disposons-group .nous-disposons-element .title-nous-disposons-element{
    font-size: 19px;
    margin-bottom: 14px;
    color: #FFFFFF;
}
.nous-disposons-group .nous-disposons-element .descriptionnous-disposons-element{
    font-size: 18px;
    font-family: 'Quintessential', sans-serif;
    color: #FFFFFF;
    width: 64%;
    margin: 0 auto;
}
.block-pourquoi-nous-choisir h2{
    color: #0000005C;
    font-family: 'Corinthia-Regular';
    margin-bottom: 15px;
    font-size: 125px;
    line-height: 44px;
    text-align: center;
}
.block-pourquoi-nous-choisir .sub-title{
    color: #000000;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 44px;
    text-align: center;
}
.group-pourquoi-nous-choisir{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.group-pourquoi-nous-choisir .first-block-text{
    width: 78%;
}
.group-pourquoi-nous-choisir .first-block-text .element-pourquoi-nous-choisir{
    border: 1px dashed black;
    padding: 25px 20px 0;
    border-radius: 15px;
    display: flex;
    margin-bottom: 30px;
}
.group-text {
    width: 94%;
}
.group-pourquoi-nous-choisir .first-block-text .user-icone{
    background: #f8f5ed;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.group-pourquoi-nous-choisir .first-block-text .user-icone i{
    color: #e9cc6f;
}
.group-pourquoi-nous-choisir .first-block-text .element-pourquoi-nous-choisir .title{
    color: #000000;
    font-size: 17px;
    margin-bottom: 8px;
    font-weight: 600;
    font-family: 'League Spartan', sans-serif;
}
.group-pourquoi-nous-choisir .first-block-text .element-pourquoi-nous-choisir .description{
    font-size: 17px;
    color: #000000;
    font-family: 'Quintessential', sans-serif;
    margin-bottom: 30px;
}
.group-pourquoi-nous-choisir .second-block-img .group-img {
    width: 100%;
    height: 880px;
    margin-top: -115px;
}
.group-pourquoi-nous-choisir .second-block-img .group-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.attendez-vous-text{
    font-size: 45px;
    color: #000000;
    font-family: 'Corinthia-Regular';
    margin-bottom: 0px;
}
.block-pourquoi-nous-choisir {
    margin-bottom: 100px;
}
.block-nos-videos{
    background: #2F1D12;
    margin-bottom: 95px;
}
.block-nos-videos h2{
    color: #F8C00D42;
    text-align: center;
    font-family: 'Corinthia-Regular';
    font-size: 123px;
    padding-top: 40px;
    line-height: 100px;
}
.block-nos-videos .description{
    color: #FFFFFF;
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    max-width: 560px;
    margin: 0 auto 70px;
}
.video-text-block{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}
.video-text-block .video {
    position: relative;
    cursor: pointer;
    height: 320px;
    width: 450px;
    margin: 0px 40px 100px;
    border-radius: 20px;
}
.video-text-block .go {
    height: 0;
    padding-bottom: 21%;
    border-radius: unset;
}
.text-block .sub-title-text{
    color: white;
    font-size: 34px;
    font-weight: 200;
    text-align: center;
}
.text-block .description-sub-text{
    color: white;
    font-size: 18px;
    font-weight: 200;
    font-family: 'Quintessential', sans-serif;
    text-align: center;
}
.video-text-block .text-block {
    width: 520px;
    margin: 0px 40px 50px;
}
.video-text-block .text-block .price{
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    text-shadow: 4px 2px #b26700;
    color: white;
    font-family: 'Quintessential', sans-serif;
    margin-top: -8px;
}
.video__placeholder2, .video__placeholder3 {
    border-radius: 15px;
    object-fit: contain;
}
.trait-element{
    position: absolute;
    bottom: -47px;
    right: -337px;
    width: 335px;
}
.trait2{
    position: absolute;
    bottom: -47px;
    right: 0;
    width: 335px;
    left: -334px;
}
.block-power-class{
    background: #B2670266;
    padding: 50px;
}
.group-power-class{
    display: flex;
}
.block-power-class .element-group-power-class{
    width: 28%;
    margin: 0 10px 30px;
}
.block-power-class .element-group-power-class .element-img{
    height: 344px;
    margin-bottom: 20px;
}
.block-power-class .element-group-power-class .element-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.block-power-class .element-group-power-class .name-block{
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Quintessential', sans-serif;
    margin-bottom: 15px;
    font-weight: 400;
    margin-right: 34px;
}
.block-power-class .element-group-power-class .business-text{
    margin-right: 54px;
}
.block-power-class .element-group-power-class .by-text{
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Quintessential', sans-serif;
    margin-bottom: 25px;
}
.block-power-class .element-group-power-class .price{
    font-size: 30px;
    font-weight: bold;
    text-shadow: 4px 2px #b26700;
    color: white;
    font-family: 'Quintessential', sans-serif;
    margin-top: -15px;
}
.title-power-class{
    text-align: center;
    color: #FFFFFF;
    font-family: 'League Spartan', sans-serif;
}
.block-power-class .btnMember {
    background: #F8C00D;
    padding: 20px 40px 20px;
    font-size: 16px;
    margin-left: 0px;
    box-shadow: 3px 5px 0px #A36108;
    text-shadow: 1px -3px #000000;
}
.btnMember{
    color: #FFFFFF !important;
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
.card-members .head-card {
    position: relative;
    height: 0;
    padding-bottom: 57%;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 25px;
}
.card-members iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card-members .placeholderImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 999;
    position: absolute;
}
.btn-play {
    position: absolute;
    z-index: 9999;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    width: 80px;
    height: 80px;
    border: none;
    margin: auto;
}
.btn-play img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.block-Nos-membres h2 {
    color: #0000005C;
    font-family: 'Corinthia-Regular';
    font-size: 107px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 25px;
}
.block-Nos-membres .description{
    text-align: center;
    color: #000000;
    font-family: 'League Spartan', sans-serif;
    width: 735px;
    margin: 0 auto 40px;
    line-height: 28px;
}
.block-Nos-membres .card-members {
    border: 2px dashed #F9CD42;
    border-radius: 20px;
    padding: 15px;
}
.block-Nos-membres .card-members .sub-description{
    font-size: 16px;
    color: #000000;
    font-family: 'Quintessential', sans-serif;
    margin-bottom: 0px;
    line-height: 28px;
}
.carousel-control-prev, .carousel-control-next{
    width: 40px;
    height: 40px;
    margin: auto 0;
    z-index: 999;
    opacity: 1 !important;
}
.carousel-control-prev img, .carousel-control-next img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.block-Nos-membres .carousel-inner {
    padding: 0 78px;
}
.block-Nos-membres .carousel-control-next {
    right: 55px;
}
.block-voyage{
    background: url('/img/bgVoyage.png') no-repeat;
    background-size: cover;
    padding: 20px 70px 80px;
    margin-bottom: 120px;
}
.block-voyage h2{
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 5px 4px #b26700;
    font-family: 'League Spartan', sans-serif;
    width: 650px;
    line-height: 60px;
    margin: 40px auto;
}
.block-voyage .group-pays{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block-voyage .group-pays .element-pays{
    width: 48%;
    box-shadow: 6px 7px 0px #A36108;
    border-radius: 40px;
    background: #BE981D;
    padding: 20px 50px 40px;
    margin-bottom: 40px;
}
.block-voyage .group-pays .element-pays .pays{
    text-shadow: 2px -1px 0px #FFFFFF;
    color: #2F1D12;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
}
.block-voyage .group-pays .element-pays .description-voyage-pays{
    text-shadow: 1px -1px 0px #FFFFFF;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Quintessential', sans-serif;
    margin-bottom: 0px;
    font-weight: 300;
    text-align: center;
}
.block-Nos-membres {
    width: 83%;
    margin: 0 auto 100px;
}
.block-confiance{
    background: #00216E;
    padding: 80px 15px;
    margin-bottom: 70px;
}
.block-confiance h2{
    color: #ffffff7a;
    font-family: 'Corinthia-Regular';
    font-size: 107px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 35px;
}
.block-confiance .sub-description{
    color: white;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
}
.block-confiance .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer-block{
    background: #2f1d12;
    padding: 35px 60px;
    border-radius: 15px;
    z-index: 22;
    position: relative;
}
.footer-block .btn-footer-makabou{
    padding: 0;
    width: 210px;
    margin: 0 auto 35px;
    display: flex;
}
.footer-block .btn-footer-makabou img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer-block .info-footer-text{
    font-size: 17px;
    color: #FFFFFF;
    font-family: 'Quintessential', sans-serif;
    text-align: center;
    max-width: 555px;
    margin: 0 auto 40px;
}
.copyright-text{
    font-size: 13px;
    color: #FFFFFF;
    font-family: 'Quintessential', sans-serif;
    text-align: center;
    font-weight: 300;
}
.sub-footer{
    background: #B26702;
    margin-top: -24px;
    padding-top: 37px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    border-radius: 13px;
}
.sub-footer .reseau-sociaux-block{
    display: flex;
    width: 55%;
}
.sub-footer .number-phone{
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Quintessential', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}
.sub-footer a i{
    color: white !important;
    font-size: 19px;
    margin: 0 15px;
    height: fit-content;
}
.c-header-in {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    color: white;
}
.vid-fit-reveal.reveal-video {
    background: none;
}
.vid-fit-reveal.reveal-video .placeholderImg{
    display: none;
}
.vid-fit-reveal.reveal-video .c-header-in{
    display: none;
}
.vid-fit-reveal.reveal-video #vid-reveal {
    display: block;
    visibility: visible;
}
.vid-fit-reveal #vid-reveal {
    visibility: hidden;
}

.owl-stage{
    display: flex;
}
.gtco-testimonials {
    position: relative;
    margin-top: 30px;
    width: 100% !important;
    overflow: hidden;
}
.gtco-testimonials .owl-stage-outer {
    padding: 30px 0;
}
.gtco-testimonials .owl-dots {
    display: none;
}
.gtco-testimonials .owl-dots .active {
    box-shadow: none;
}
.owl-nav button{
    position: absolute;
    top: 41%;
    bottom: 0;
    height: 50px;
    width: 50px;
    background-size: contain;
    border: 0;
}
.owl-prev {
    left: 0px;
    background: url("/img/left.png") no-repeat;
}
.owl-next{
    right: 0px;
    background: url("/img/right.png") no-repeat;
}
.owl-nav button span {
    display: none;
}

.gtco-testimonials .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
}
.gtco-testimonials .card .card-img-top {
    border-radius: 100%;
    overflow: hidden;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
}
.gtco-testimonials .card .card-img-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gtco-testimonials .card h5 {
    color: #f8bf0d;
    font-size: 21px;
    line-height: 1.3;
}
.gtco-testimonials .card h5 span {
    font-size: 18px;
    color: #666;
}
.gtco-testimonials .card p {
    font-size: 18px;
    color: #555;
    padding-bottom: 15px;
}
.gtco-testimonials .active {
    opacity: 0.5;
    transition: all 0.3s;
}
.gtco-testimonials .center {
    opacity: 1;
}
.gtco-testimonials .center h5 {
    font-size: 24px;
}
.gtco-testimonials .center h5 span {
    font-size: 20px;
}
.gtco-testimonials .center .card-img-top {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    overflow: hidden;
}
.gtco-testimonials .center .card-img-top img{
    height: 100%;
    width: 100%;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    outline: 0;
}
.owl-carousel button.owl-dot {
    outline: 0;
}

.card-video-Test{
    padding-bottom: 51% !important;
    overflow: hidden;
    margin-top: 52px !important;
    position: relative;
}
.card-video-Test iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.owl-prev{
    background: url('/img/left.png') no-repeat scroll 0 0;
    left: -33px;
}
.owl-next{
    background: url('/img/right.png') no-repeat scroll 0px 0px;
    right: -33px;
}
.block-Nos-membres .owl-carousel .owl-stage-outer {
    overflow: hidden;
}
.block-Nos-membres .owl-carousel .owl-item{
    padding: 15px;
    width: 25% !important;
}
.owl-dots {
    display: none;
}
.gtco-testimonials .owl-prev {
    left: 0px !important;
}
.gtco-testimonials .owl-next{
    right: 0px !important;
}
.btn-submit {
    background-color: #F8C00D !important;
    padding: 10px 32px 10px !important;
    border-radius: 30px !important;
    width: fit-content !important;
    font-size: 16px !important;
    margin-left: auto;
    text-shadow: 2px -2px #b26700;
    font-family: 'Poppins', sans-serif;
    color: white !important;
    text-align: center !important;
    box-shadow: 3px 3px 0px #A36108;
    font-weight: 900 !important;
}
.login-card-body a, .register-card-body a {
    color: #b26700 !important;
}
.login-box, .register-box {
    width: 400px !important;
}

@media only screen and (max-width: 767px){
    .content-head {
        min-height: 50vh;
        background-size: cover;
        background-position: center;
    }
    .gtco-testimonials {
        margin-top: 20px;
    }
    .content-title {
        max-width: 100%;
        margin: 0 auto;
        width: 100%;
    }
    h1 {
        font-size: 20px;
        line-height: 35px;
        margin-top: -17px;
    }
    .sub-title {
        font-size: 16px;
        font-family: 'Quintessential', sans-serif;
        color: white;
        text-align: center;
    }
    .video {
        position: relative;
        cursor: pointer;
        height: 360px;
        width: 90%;
        margin: -40px auto 100px;
        border-radius: 20px;
    }
    .video__button {
        width: 75px;
        height: 75px;
    }
    .btn-link {
        min-width: 180px;
    }

    .block-Apropos {
        width: 100%;
        margin: 0 auto 70px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .block-Apropos .imgBlockPropos {
        width: 100%;
        margin: 0 20px auto;
        display: flex;
        position: relative;
    }
    .block-Apropos .secondBlock {
        width: 100%;
        margin: 0 10px auto;
    }
    .secondBlock .title-APropos {
        font-size: 60px;
        margin-bottom: 25px;
        text-align: center;
    }
    .secondBlock .description {
        font-size: 16px;
        margin-right: 15px;
    }
    .btnMember {
        font-size: 12px;
    }
    .block-Apropos .imgBlockPropos {
        width: 90%;
        margin: 50px auto 0;
        display: flex;
    }
    .block-Apropos .imgBlockPropos .text-exp {
        bottom: 20px;
        left: 13px;
        font-size: 11px;
        margin-bottom: 0;
    }
    .block-Apropos .imgBlockPropos .text-exp strong {
        font-size: 24px;
    }
    .block-Nous-disposons {
        padding: 50px 40px;
        margin-bottom: 70px;
    }
    .block-Nous-disposons h2 {
        font-size: 59px;
    }
    .block-Nous-disposons .descriptionN {
        font-size: 15px;
        margin: 27px auto 40px;
    }
    .disposons-element {
        width: 100%;
        margin-bottom: 50px;
    }
    .disposons-element .descriptionnous-disposons-element {
        font-size: 18px;
        width: 100%;
        margin: 0 auto;
    }
    .block-pourquoi-nous-choisir h2 {
        margin-bottom: 7px;
        font-size: 63px;
    }
    .group-pourquoi-nous-choisir {
        flex-wrap: wrap;
    }
    .group-pourquoi-nous-choisir .first-block-text {
        width: 100%;
    }
    .second-block-img {
        width: 100%;
    }
    .group-pourquoi-nous-choisir .second-block-img .group-img {
        width: 100%;
        height: 370px;
        margin: 0 auto 80px;
    }
    .attendez-vous-text {
        font-size: 26px;
        margin-bottom: 0px;
    }
    .btnMember {
        padding: 20px 30px 20px;
    }
    .footer-block .btn-footer-makabou {
        padding: 0;
        width: 150px;
    }
    .footer-block {
        padding: 35px 15px;
    }
    .block-nos-videos h2 {
        font-size: 90px;
        line-height: 72px;
    }
    .block-nos-videos .description {
        font-size: 14px;
        line-height: 25px;
        margin: 0 auto 30px;
    }
    .video-text-block {
        flex-wrap: wrap;
    }
    .video-text-block .video {
        width: 100%;
        margin: 0px 20px 0px;
        border-radius: 20px;
    }
    #first-block-video .trait-element, #second-block-video .trait-element {
        display: none;
    }
    .text-block .sub-title-text {
        font-size: 22px;
    }
    .video-text-block .text-block {
        width: 100%;
        margin: 0px;
    }
    .video-text-block .text-block .price {
        font-size: 38px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .video-text-block {
        margin-bottom: 45px;
    }
    .block-power-class {
        padding: 20px 5px;
    }
    .group-power-class {
        display: flex;
        flex-wrap: wrap;
    }
    .block-power-class .element-group-power-class {
        width: 78%;
        margin: 0 auto 30px;
    }
    .block-Nos-membres h2 {
        font-size: 80px;
        margin-top: -30px;
    }
    .block-Nos-membres .description {
        width: 100%;
        margin: 0 auto 40px;
        line-height: 23px;
        font-size: 15px;
    }
    .block-Nos-membres .carousel-inner {
        padding: 0 10px;
        margin: 0;
    }
    .carousel-item row{
        margin: 0;
    }
    .col-md-12{
        padding: 0;
        margin-left: 12px;
    }
    .block-voyage {
        padding: 20px 15px 80px;
        margin-bottom: 60px;
    }
    .block-voyage h2 {
        font-size: 20px;
        width: 100%;
        line-height: 37px;
        margin: 40px auto;
    }
    .block-voyage .group-pays .element-pays {
        width: 100%;
        box-shadow: 6px 7px 0px #A36108;
        padding: 15px 10px 15px;
        margin-bottom: 40px;
    }
    .block-voyage .group-pays .element-pays .pays {
        font-size: 22px;
        margin-bottom: 5px;
    }
    .block-voyage .group-pays .element-pays .description-voyage-pays {
        font-size: 14px;
    }
    .block-confiance {
        padding: 50px 15px;
        margin-bottom: 70px;
    }
    .block-confiance h2 {
        font-size: 50px;
        line-height: 10px;
    }
    .nous-disposons-group .nous-disposons-element {
        width: 100%;
        margin-bottom: 25px;
    }
    .nous-disposons-group .nous-disposons-element .descriptionnous-disposons-element {
        width: 100%;
    }
    .block-Nos-membres .card-members {
        margin-bottom: 30px;
    }
    .block-Nos-membres {
        width: 100%;
        margin: 0 auto 50px;
    }
    .btn-play {
        width: 70px;
        height: 70px;
    }
    .c-header-in {
        top: 10px;
    }
    .login-box, .register-box {
        width: 95% !important;
        margin: 0 auto;
    }



}
